/* || VARIABLES  */


/* Document level adjustments */

@media (max-width: 800px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    body {
        font-size: 13px;
    }
}

:root {
    --main-bg-color: #fff;
    --margin-unit: 1rem;
    --padding-unit: 1rem;
    --text-color: #333;
    --font-unit: 1rem;
    --lineHeight-unit: 1.5rem;
}


/* || GENERAL STYLES & Typography */

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #333;
    text-decoration: none;
}

body {
    /* background-color: black; */
    margin: auto;
    font-size: 17px;
    /* width: 80%; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}


/* || NAVBAR  */

header {
    margin: calc(2 * var(--margin-unit));
    font-size: calc(1.5 *var(--font-unit));
}

header nav ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

header nav ul li {
    text-align: center;
    padding: calc(var(--padding-unit));
}


/* || MAIN  */

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

main h1 {
    margin: var(--margin-unit);
    margin-bottom: 3rem;
}

#bio {
    display: flex;
    margin: var(--margin-unit);
    font-size: var(--font-unit);
    line-height: var(--lineHeight-unit);
    flex-direction: row;
    flex-wrap: wrap;
    animation-duration: 3s;
    animation-name: slideinRight;
    justify-content: center;
}

#avatar {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin: var(--margin-unit);
    margin-right: var(--margin-unit);
}

#resume-link {
    padding: var(--padding-unit);
}

#portrait {
    animation-duration: 1s;
    animation-name: slideinRight;
}

#portrait .icons {
    margin: var(--margin-unit);
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

#portrait a {
    text-decoration: underline;
    font-style: italic;
}

#portrait ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#portrait aside {
    margin: var(--margin-unit);
    margin-top: 0;
}

#portrait li {
    text-align: center;
}

#introduction {
    width: 70%;
    animation-duration: 1s;
    animation-name: slideinRight;
}

#introduction h2 {
    margin-bottom: var(--margin-unit);
}

#introduction div {
    line-height: 2rem;
    overflow-wrap: break-word;
}

#projects h2 {
    padding: var(--padding-unit);
}

#projects-container {
    row-gap: 20px;
}

.project {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-unit);
    /* margin: auto; */
    row-gap: 15px;
}

.project:nth-child(odd) {
    background-color: #ececec;
}

.project-desc {
    line-height: calc(1.5 * var(--lineHeight-unit));
    flex: 1;
    overflow-wrap: break-word;
    padding: 0 calc(2*var(--padding-unit));
}

.project img {
    flex: 1;
    min-width: 20rem;
    max-width: 40rem;
    /* max-width: 45%; */
    object-fit: contain;
}


/* Animations */


/* Copied from MDN examples */

@keyframes slideinRight {
    from {
        margin-left: 100%;
        /* width: 300%; */
        transform: rotate(0.25turn);
    }
    to {
        margin-left: 0%;
        /* width: 100%; */
    }
}


/* add css animation of bio and avator sliding in */


/* Start styling projects (template images, links) */


/* Start styling blog (template text, pictures) */


/* ASSIGNMENT MILESTONES 
    1. Responsive design, hamburger, touch aware ideas, font scalibility
    2. Image usage for different devices
    3. Aestics and usability

*/